<!--<h2>{{ pageHeader }}</h2>
<app-employee></app-employee>
<app-employee-list></app-employee-list>-->


 <!--Implementation of Life cycle hooks onChanges--> 
<!--<div>
  Your text : <input type="text" name="name" [(ngModel)]="userText" />
</div>
<br /><br />
<app-simple [simpleInput]="userText"></app-simple>-->

<div style="padding:5px">
  <ul class="nav nav-tabs">
    <li routerLinkActive="active">
      <!-- Binding to a static link -->
      <a class="nav-link" [routerLink]="'/home'">Home</a>
    </li>
    <li routerLinkActive="active">

      <a class="nav-link" [routerLink]="'/employees'">Employees Management</a>
    </li>
    <li routerLinkActive="active">

      <a class="nav-link" [routerLink]="'/eventHub'">EventHub</a>
    </li>
  </ul>
  <br />

  <!-- This is where you want the routed component to be display when the link is clicked -->
  <router-outlet></router-outlet>
</div>
