<!-- The data is passed from the container component to the nested component
    the nested component has to decorates some of its property as input in order to
    receive this data and the data first go the component class first and may be re-render by
    the html if need be
    -->
<!--*ngIf means do not initialize the app-employee-count if the employees is still null or underfined -->
<app-employee-count *ngIf="employees"
                    [all]="getTotalEmployeesCount()"
                    [male]="getTotalMaleEmployeesCount()"
                    [female]="getTotalFemaleEmployeesCount()"
                    (countRadioButtonSelectionChanged)="onEmployeeCountRadioButtonChange($event)"></app-employee-count>
<br />
<br />
<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Annual Salary</th>
      <th>Date of Birth</th>
      <th>Index</th>
      <th>Is First</th>
      <th>Is Last</th>
      <th>Is Even</th>
      <th>Is Odd</th>
    </tr>

  </thead>
  <tbody>
    <ng-container *ngFor="let employee of employees; trackBy: trackByEmpCode; let i=index; let isFirst=first; let isLast=last; let isOdd=odd; let isEven=even">
      <tr *ngIf="selectedEmployeeCountRadioButton=='All' || selectedEmployeeCountRadioButton==employee.gender">
        <td>
          <a [routerLink]="['/employees', employee.code]">
            {{employee.code | uppercase}}
          </a>
        </td>
        <td>{{employee.name | employeeTitle: employee.gender}}</td>
        <td>{{employee.gender}}</td>
        <td>{{employee.annualSalary | currency:'USD':true:'1.3-3'}}</td>
        <td>{{employee.dateOfBirth | date:'fullDate'}}</td>
        <td>{{i}}</td>
        <td>{{isFirst}}</td>
        <td>{{isLast}}</td>
        <td>{{isEven}}</td>
        <td>{{isOdd}}</td>
      </tr>
    </ng-container>

      <!-- Display this when the data is being loaded -->
      <tr *ngIf="!employees">
        <td colspan="10">
          {{statusMessage}}
        </td>
      </tr>

      <!-- Display this when the employees has been initialized but zero length -->
      <tr *ngIf="employees && employees.length==0">
        <td colspan="5">
          No employee to display
        </td>
      </tr>
  </tbody>
</table>
<br />
<div>
  Color Preference :
  <input type="text" [(ngModel)]="color" [style.background]="color" />
</div>
<!-- Refresh the the employees -->
<!--<button (click)="getEmployees()">Refresh Employees</button>-->
